html { scroll-behavior: smooth; }

:root {
    /* background */
    --default-bg-color: white; /* old color: rgb(246, 246, 250) */

    /* text */
    --base-font: Monospace;
    --text-color: #171746;

    /* shaping & color */
    --radius-pill: 25px;
    --shadow-subtle: 0 8px 15px rgba(15, 23, 42, 0.15);
    --btn-color: #fbfbff;
    --btn-color-hover: rgba(241, 241, 245, 0.45);

    --base-border: 1px solid rgb(227, 227, 227);
    --base-bg-color: rgb(241, 241, 241);

}

:root.dark {
    /* background */
    --default-bg-color: #242436;

    /* text*/
    --text-color: #ececec;

    /* color */
    --btn-color: #1a1a1e;
    --btn-color-hover: rgb(43, 43, 66);
    --shadow-subtle: 0 2px 10px rgba(0,0,0,0.3);
}

body { background-color: var(--default-bg-color); }

