html { scroll-behavior: smooth; }

:root {
    /* background */
    --default-bg-color: white; /* old color: rgb(246, 246, 250) */

    /* text */
    --base-font: Monospace;
    --text-color: #171746;

    /* shaping & color */
    --radius-pill: 15px;
    --border-type: darkgray 0.5px solid;
    --shadow-subtle: 0 8px 15px rgba(15, 23, 42, 0.15);
    --btn-color: #fbfbff;
    --btn-color-hover: rgba(241, 241, 245, 0.45);
}

