
/* header */
.header-container {
    margin: 1rem; padding: 0.7rem 1rem;
    position: fixed; top: 0; left: 0; right: 0;
    display: flex; justify-content: space-between; align-items: center;
    backdrop-filter: blur(8px); border: var(--border-type); border-radius: 50px;
    z-index: 300;
}

/* Left Side btns: (ui theme) & (language) */
.nav-lhs, .nav-rhs { display: flex; gap: 0.5rem; }

/* Sets spacing top/bottom and curved borders */
.nav-lhs button {
    padding: 4px 6px;
    border: none;
    border: var(--border-type);
    border-radius: var(--radius-pill);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.nav-lhs button img { width: 17px; height: 17px; transform: translateY(2px); }

.nav-lhs button:hover, .nav-rhs a:hover {
    background-color: var(--btn-color-hover);
    transform: translateY(-1px);
    cursor: pointer;
}

.nav-rhs a {
    padding: 0.325rem 0.525rem;
    color: var(--text-color);
    font-family: var(--base-font), sans-serif; font-size: 0.85rem;
    border-radius: var(--radius-pill); border: var(--border-type);
    text-decoration: none; background-color: transparent;
    transition: all 0.2s ease-in-out;
}

/* nav list for choosing langs */
nav {
    /* absolute ensures dropdown abides to parent position */
    position: absolute; top: 125%; left: 3px;
    padding: 0.75rem;
    background-color: var(--default-bg-color);
    border: var(--border-type); border-radius: 20px;
    box-shadow: var(--shadow-subtle); /* top/bottom - left/right - blur / color */
    z-index: 350;
}

ul {
    display: flex; flex-direction: column;
    list-style: none; /* Removes bullet points in the list */
    gap: 0.5rem; /* (rem): sets adjustable space between list items */
    margin: 0; padding: 0;
    /* margin & padding: set to zero is used to horizontally center elements within its container.
    When applied, the browser automatically calculates the space all around, allowing them to
    absorb any available horizontal space equally. The remaining space will be split between
    the left and right margins, effectively centering the element. */
}

.lang-item img {
    border-radius: var(--radius-pill); border: var(--border-type);
    margin-bottom: 0.35rem;
}

.lang-item button {
    /* Sets flex-layout and aligns on x/y-axis */
    display: flex; align-items: center; justify-content: center;
    width: 100%; gap: 0.75rem; padding: 0.3rem 0.5rem;
    border: var(--border-type); border-radius: 20px; background-color: var(--btn-color);
    transition: all 0.2s ease-in-out;
}

.lang-item button:hover { background-color: var(--btn-color-hover); transform: scale(1.04); }
.lang-item button:active { background-color: rgba(224, 224, 231, 0.45); transform: scale(0.975); }

@media (width < 500px) {
    .navbar-container {
        padding: 0.5rem 1rem;
        border-radius: 1px;
        justify-content: center;
    }
    .nav-rhs { display: grid; grid-template-columns: repeat(2, auto); margin: 0.5rem; }
    .nav-rhs button { margin: 0.35rem; }
}
