/* outer container */
.about-container {
    padding-inline: clamp(1.5rem, 8vw, 7rem); /* left + right */
    background-color: var(--default-bg-color);
}

/* inner container */
.inner-container { color: var(--text-color); font-family: var(--base-font), sans-serif; }

/* about title */
.about-title {
    margin-bottom: 25px;
    position: relative; top: 30px; line-height: 1.1;
    font-size: clamp(2.25rem, 3.75vw, 5rem); font-family: var(--base-font), sans-serif;
}

.note { margin-top: 30px; }
.note a { color: var(--text-color); }

/* initial features normal text */
.bio-desc p {
    margin: 5rem 0 0;
    letter-spacing: 1px;
    color: inherit;
    font-size: clamp(1rem, 4vw + 0.5rem, 2.5rem);
}

/* gsap words */
.bio-desc p .word {
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

/* highlighted phrase */
.bio-desc p .accent-txt {
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

/* dim everything */
.bio-desc:hover p .word {
    color: rgba(0, 0, 0, 0.14);
}

/* BUT keep words inside accent normal */
.bio-desc:hover p .accent-txt .word {
    color: var(--text-color);
}


/*!* features for normal text on hover *!*/
/*.bio-desc p:hover { color: rgba(0, 0, 0, 0.14); }*/

/*!* on hover special text stays visible *!*/
/*.bio-desc p:hover span { color: var(--text-color); }*/

.bio-desc .word {
    display: inline-block;
    will-change: transform, opacity;
}

/* section for spare time activities */
.spare-time {
    margin: 6rem 0 3rem; gap: 1rem; max-width: 750px;
    display: flex; flex-direction: column; justify-self: center;
}

.spare-time h3 { margin: 0; text-align: center; }

.spare-time ul {
    display: inline-block; text-align: center;
    margin: 0; padding: 0; list-style: none;
}

/* individual items */
.spare-time ul li {
    display: inline-block; /* to fit the items according to width */
    margin: 0.5rem; padding: 0.35rem 0.75rem;
    font-size: 0.85rem; white-space: nowrap;
    border: var(--base-border); border-radius: var(--radius-pill);
}
.spare-item {
    will-change: transform, opacity;
}

/* school section */
.school {
    justify-self: center;
    display: flex; flex-direction: column;
    margin: 4rem 0; gap: 0.75rem; max-width: 750px;
    padding: 1.2rem 1.3rem 0.75rem;
    border: var(--base-border); border-radius: 25px;
}

/* sets flex layout for school logo & name */
.label { display: flex; place-items: center; gap: 1rem; }
.label img { border-radius: 8px; border: 3px solid white; }

/* applies specific spacing to 3rd span */
.school span:nth-child(3) p { margin: 0 0 0.7rem;}

/* attending indicator */
.stat {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-around;
    border: var(--base-border); border-radius: 50px; background-color: transparent;
    width: 11rem; height: 2rem; padding: 0 0.5rem;
}

/* blinking light */
.blinker {
    width: 1rem; height: 1rem;
    background-color: limegreen; border: none; border-radius: 50%;
    animation: pulse 1s infinite;
}

.stat p { font-size: 0.85rem; white-space: nowrap; }

/* blinking light */
@keyframes pulse {
    0% { transform: scale(0.8); opacity: 1; }
    50% { transform: scale(0.9); opacity: 0.5; }
    100% { transform: scale(0.8); opacity: 1; }
}

/* tech stack section */
.stack { margin-top: 6rem; }
.stack svg { width: 30px; height: 30px; }

/* stack title */
.stack span {
    display: flex; gap: 1rem;
    justify-content: center; align-items: center;
}

/* each section of full-stack tools */
.stack-struct {
    display: grid; gap: 1rem 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.stack-group h3 {
    margin-bottom: 0.75rem;
    font-size: 1.6rem; color: var(--text-color);
}

.stack-group ul {
    margin: 0; padding: 0;
    display: inline-block; flex-wrap: wrap;
    list-style: none;
}

/* each full-stack item */
.stack-group ul li {
    display: inline-block;
    margin: 0.35rem; padding: 0.4rem 0.7rem;
    border-radius: 50px; border: var(--base-border);
    white-space: nowrap;
    font-size: clamp(0.7rem, 0.8rem + 0.185vw, 1.1rem);
    transition: all 0.2s ease-in-out;
}

.stack-group ul li:hover { background: var(--btn-color-hover); transform: translateY(-2px) rotate(-2deg); }


@media (width < 750px) {
    .stack { grid-template-columns: 1fr; gap: 2rem; }
    .stack-struct { grid-template-columns: repeat(1, 1fr); row-gap: 0.5rem; }
}