
.work-container {
    margin: var(--space-md);
    color: var(--text-color);
    font-family: var(--base-font), sans-serif;
    background-color: var(--default-bg-color);
}

.title {
    margin: 1rem 0; text-align: center;
    font-size: 3rem; line-height: 1.1;
}

.work-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    max-width: 750px;
    padding: 1.25rem 1.75rem 0.5rem;
    border: var(--border-type);
    border-radius: var(--radius-pill);
}

.card-heading {
    display: flex; gap: 1rem;
    align-items: center; justify-content: flex-start;
}

.card-title { font-size: 1.3rem; margin: 0; }

.card h4, p { margin: 10px 0; }

/* -------- DOJ Card -------- */
.doj-img { width: 50px; height: 50px; }

/* -------- Resilience Inc. Card -------- */
.resilience-img { width: 68px; height: 50px; border-radius: 25%; }

/* -------- HeadStarter Card -------- */
.headstarter-img { width: 40px; height: 40px; border-radius: 25%; }

/* -------- AI4ALL Card -------- */
.ai-img { width: 45px; height: 45px; }

/* -------- Apple Card -------- */
.apple-img { width: 30px; height: 35px; }
