
.work-container {
    margin: var(--space-md);
    color: var(--text-color);
    font-family: var(--base-font), sans-serif;
    background-color: var(--default-bg-color);
}

.title {
    margin: 1rem 0; text-align: center;
    font-size: 3rem; line-height: 1.1;
}

.work-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.job {
    max-width: 850px;
    padding: 1.25rem 1.75rem;
    border: var(--border-type);
    border-radius: var(--radius-pill);
}

.card-heading {
    display: flex; gap: 1rem;
    align-items: center; justify-content: flex-start;
}

.card-title { font-size: 1.3rem; margin: 0; }

.job h4, p { margin: 10px 0; }

/* specific img sizing for company logo */
.doj-img { width: 50px; height: 50px; }
.resilience-img { width: 68px; height: 50px; border-radius: 25%; }
.headstarter-img { width: 40px; height: 40px; border-radius: 25%; }
.ai-img { width: 45px; height: 45px; }
.apple-img { width: 30px; height: 35px; }

/* sets bullet points and changes default list styling */
.job li { list-style-type: disc; list-style-position: inside; }

.tools-used {
    display: flex; gap: 0.5rem; flex-wrap: wrap;
    align-items: center; justify-content: flex-start;
}

.tools-used li {
    list-style-type: none;
    font-size: 0.8rem;
    padding: 3px 10px;
    border: var(--border-type);
    border-radius: var(--radius-pill);
}