/* entire footer container */
.footer-container {
    text-align: center;
    display: flex; flex-direction: column;
    margin: 8rem 1.5rem 1rem; padding-top: 1rem;
    color: var(--text-color); font-family: var(--base-font), sans-serif;
    background-color: var(--default-bg-color);
    border: var(--base-border); border-radius: var(--radius-pill);
}

/* heading */
.footer-container h2 {
    margin: 0 auto 1.5rem auto;
    padding: 0.75rem 1rem; width: fit-content;
    color: var(--text-color); font-size: clamp(1.1rem, 2vw, 1.4rem);
    border-radius: 15px; white-space: nowrap;
}

/* main area */
.footer-container main {
    display: flex; padding: 0 2rem; gap: 1rem;
    align-items: flex-start; justify-content: space-evenly;
    color: inherit;
}

/* mission & skill bracket */
.footer-group { display: flex; gap: 6rem; text-align: left; }

.end-desc p { max-width: 300px; }

/* socials */
.social-links {
    display: flex; flex-direction: column;
    gap: 0.75rem; align-items: flex-start;
}

.social-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

.social-links a:hover { color: #ababab; }

.linkers { display: flex; flex-direction: column; gap: 1rem; }

.footer-note {
    margin-top: 2rem; padding-top: 0.5rem;
    border-top: var(--base-border);
    font-size: 0.8rem; opacity: 0.7;
}


/* medium screens: tablets & laptops */
@media (max-width: 900px) {
    .footer-container main {
        display: grid; grid-template-columns: repeat(1, 2fr);
        justify-content: center; text-align: center; gap: 2rem;
    }
    .footer-container main h3 { margin: 0;}
    .footer-group { text-align: left; align-items: center; justify-content: space-evenly; }
    .social-links { align-items: center; }
    .linkers { flex-direction: row; }
}

/* mobile screens */
@media (max-width: 650px) {
    .footer-container {
        margin: 6rem 0.75rem 1rem;
        padding: 1.5rem 0;
    }
    .footer-container main {
        flex-direction: column;
        padding: 0 3rem; gap: 2rem;
    }
    .footer-group {
        flex-direction: column;
        align-items: flex-start; gap: 1.5rem;
    }
    .social-links {
        flex-direction: row; flex-wrap: wrap;
        justify-content: center; gap: 1rem;
    }
}