/* footer */
.footer-container {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    margin: 1.5rem; text-align: center;
    color: var(--text-color); font-family: var(--base-font), sans-serif;
    background-color: var(--default-bg-color); border: var(--border-type); border-radius: var(--radius-pill);
}

.footer-container h3 {
    align-items: center; justify-content: center; padding: 0.75rem;
    font-size: 1.2rem; border: none; border-radius: 10px; background-color: #f0f0f0;
    left: 50%; width: 10rem;
}

.social-links { margin-bottom: 1rem; }

.social-links a {
    margin: 0 0.5rem;
    color: var(--text-color); text-decoration: none;
    transition: color 0.2s ease;
}

.social-links a:hover { color: #ababab; }

.footer-container p { font-size: 0.9rem; opacity: 0.7; }